<div class="tecnologias">
    <div class="description">
        <h2>Tecnologias</h2>
        <ul>
            <li>JAVASCRIPT</li>
            <li>ELECTRON</li>
            <li>HTML 5</li>
            <li>CSS 3</li>
            <li>GIT GITHUB</li>
            <li>ANGULAR</li>
            <li>LINUX</li>
        </ul>
        <h2>Na Mira</h2>
        <ul>
            <li>TYPESCRIPT</li>
            <li>IONIC</li>
        </ul>
    </div>
    <div class="img">
        <app-my-img />
    </div>
</div>