<div class="sobre">
    <div class="description">
        <h2>Sobre mim</h2>
        <p>Olá! Me chamo <span class="blue">ÉRICK</span>, sou um jovem aprendiz nascido no ano de <span class="blue">2008</span> na cidade de <span class="blue">SERRINHA-BA</span>. Sou apaixonado por tecnologia e gosto de ser desafiado a buscar novos conhecimentos nessa área, que a cada dia traz novos desafios e aprendizados.</p>
        <p> Atualmente tenho me aprofundado em tecnologias como JavaScript, Angular, HTML e CSS mas também gosto de dar umas voltas por outras linguagens de programação, outras tecnologias e sempre buscando aprender coisas novas!</p>
        <p>Para adquirir mais conhecimentos eu tenho estudado a maior parte do tempo em plataformas como Youtube, blogs, documentações mas também já estudei na <a target="_blank" href="https://app.rocketseat.com.br">Rocketseat</a> no plano gratuito, no <a target="_blank" href="https://www.cursoemvideo.com/">Curso em Vídeo</a> também no plano gratuito e por um ano na <a target="_blank" href="https://alura.com.br">Alura</a>.</p>
        <p>Atualmente estou cursando o ensino média junto com curso de <span class="blue">INFORMÁTICA</span> com o ensino profissionalizante integrado na escola <span class="blue">CETEP SISAL</span>.</p>
        <h4>Meus perfis nestas plataformas:</h4>
        <ul>
            <li>Alura - <a target="_blank" href="https://cursos.alura.com.br/user/eierickdasilva">eierickdasilva</a></li>
            <li>Rocketseat - <a target="_blank" href="https://app.rocketseat.com.br/me/erick-da-silva-lima-08504">eierickdasilva</a></li>
        </ul>
    </div>
    <div class="img">
        <app-my-img />
    </div>
</div>