<div class="home">
    <div class="description">
        <h3>Eleve seu negócio digital a outro nível <span>com site ou app com a melhor qualidade!</span></h3>
        <p>Olá! Sou Érick da Silva, desenvolvedor em aprendizado. Ajudo a colocar em linhas de código boas ideias!</p>
        <h4>Acesse minhas redes:</h4>
            <a class="btns" href="https://instagram.com/eierick" target="_blank">
                <img src="instagram.svg" alt="Instagram">
                Instagram
            </a>
            <a class="btns" href="https://www.linkedin.com/in/erick-d-97421029a/" target="_blank">
                <img src="linkedin.svg" alt="Linkedin">
                Linkedin
            </a>
            <a class="btns" href="https://github.com/eierick" target="_blank">
                <img src="github.svg" alt="Github">
                Github
            </a>
    </div>
    <div class="img">
        <app-my-img/>
    </div>
</div>